:root {
    --bg: #ECF2FF;
    --primary: #655DBB;
    --secondary: #BFACE2;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url('../assets/images/baner/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
}

.continer {
    background-color: rgba(145, 114, 239, .7);
    position: absolute;
    top: 170px;
    left: 35%;
    padding: 1rem;
    border-radius: .5rem;
    width: 20rem;
}

.continer h2 {
    text-align: center;
    margin-bottom: .5rem;
    color: black;
}

.continer h2 a {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

button {
    margin: auto;
    width: 5rem;
    margin-bottom: .5rem;
}

button:hover {
    background-color: yellow;
}

form .text {
    margin-top: .5rem;
}

.signup {
    background-color: rgba(145, 114, 239, .7);
    position: absolute;
    z-index: -999;
    padding: 1rem;
    width: 20rem;
    top: 170px;
    left: 26.7rem;
    gap: 20px;
    opacity: -10;
    transition: all .5s;
    border-radius: 5px;
}

.signup h2 {
    margin-bottom: .9rem;
}

.signup .signup-form {
    gap: .5rem;
}

.signup .signup-form button {
    margin: .5rem auto;
}

.signup.feed {
    opacity: 1;
    z-index: 9999;
}

.continer.feed {
    opacity: 0;
}

.signup a {
    position: absolute;
    top: -25px;
    right: -25px;
    color: white;
}

.signup .close:hover {
    color: red;
}

.continer p .sign-btn~:checked.signup {
    transform: scaleX(20);
}