:root {
    --bg: #ECF2FF;
    --primary: #655DBB;
    --secondary: #BFACE2;
    --populer: #F6FFA6
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px/28px;
    width: 100vmax;
    overflow-x: hidden;
    box-sizing: border-box;
    /* height: 1000px; */
}

.navigasi {
    z-index: 9999;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    background-color: var(--primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul {
    margin-right: 20px;
    text-decoration: none;
}

.nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 2rem;
}

.nav ul li a:hover {
    color: white;
    box-shadow: 0 0 2px rgb(0, 0, 0);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-log:hover {
    color: white;
    box-shadow: 0 0 2px rgb(0, 0, 0);
}

.navbar .logo {
    /* background-color: rgb(232, 219, 219); */
    width: 30%;
    position: relative;
    margin: 0 20px;

}

.logo .l-buku {
    width: 80px;
    height: 80px;
}

.logo h2 {
    display: inline-block;
    position: absolute;
    left: 90px;
    top: 25px;
}

/* .navbar .cari {
    background-color: #ccc;
} */

.cari input {
    width: 35vw;
    border-radius: 5px;
}

.cari button {
    width: 4vw;
    margin-left: 5px;
}

.pilihan {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilihan {
    position: relative;
}

.pilihan .drop {
    width: 20px;
    height: 20px;
    transform-origin: 50%;
    transition: .6s;
}

.pilihan .drop-check {
    z-index: 1;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 70px;
    opacity: 0;
}

.pilihan input:checked~.drop {
    transform: rotateX(180deg);
}

.kategory {
    z-index: 9999;
    background-color: var(--secondary);
    position: relative;
    top: -500px;
    left: 0;
    right: 0;
    transition: .8s;
    opacity: .8;
}

.sub-kategory {
    padding-left: 1em;
    line-height: 1.5rem;
}

.kategory.slide {
    z-index: 1;
    top: 110px;
}

.sub-kategory ul {
    line-height: 1.9em;
    float: left;
}

.sub-kategory .kat {
    margin-left: 80px;
    padding-left: 20px;
    border-left: 1px solid red;
}


.sub-kategory ul,
.sub-kategory li {
    text-decoration: none;
    list-style: none;
}




.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    zoom: 1;
}


/* ------------------------- populer ----------------------------------------- */
.buku {
    /* background-color: var(--populer); */
    text-align: center;
    padding: .2rem;
    position: relative;
    /* background-image: url('../assets/images/onepiece.png'); */
}

.data-buku {
    width: 40%;
    margin: .2rem auto;
    padding: 1rem;
    border: 5px solid wheat;
    /* background-color: #E8AA42; */
    /* background-image: url('../assets/images/onepiece.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.buku-border {
    background-image: url('../wave.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #4F52FF;
    margin: 1rem;
    padding: 1rem 0;
    background: linear-gradient(to right, #34C759, #4F52FF);
}

.books {
    width: 100%;
    padding: 1rem;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.books div {
    border: 1px solid white;
    /* padding: 1rem; */
}

.books div {
    transition: transform .3s ease;
}

.books div:hover {
    transform: scale(1.1);
}

.data-buku.books div>* {
    margin: .5rem 0;
}

.data-buku.books div button {
    background-color: var(--secondary);
    border-radius: 5px;
}

.books div button:hover {
    background-color: var(--primary);
}

.img-all {
    width: 100px;
    height: 100px;
}

.buku h2 {
    /* padding: 1rem 0 1rem 2rem; */
    border-bottom: 1px solid red;
    width: 19%;
    /* background-color: #F8E8EE; */
    border: 1px solid red;
    margin: .5rem auto;
}

.buku .img-op {
    width: 200px;
    height: 200px;
    margin: 1rem auto;
    border: 2px solid white;
    border-radius: 2px;
}

.title {
    margin-bottom: .5rem;
    text-decoration: underline;
}

.sub-title,
.btn-buku {
    margin-bottom: .5rem;
}



.buying {
    width: 100vw;
    background-color: whitesmoke;
    /* position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    padding: 1rem;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 10px;
}

.buying .section-buy {
    border-right: 1px solid blueviolet;
}

/* .buying .content-buy { */
/* background-color: blu    e; */
/* } */

.remove {
    display: none;
}



/* footer */

.footer {
    background-color: var(--primary);
    margin-top: 20px;
    line-height: 2em;
}

/* .footer-menu {
    height: 150px;
} */

.footer-menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    list-style: none;
    padding: 20px 0 20px 0
}

.footer-menu ul li a {
    color: var(--secondary);
    display: block;
}

.footer-menu ul li h3 {
    border-bottom: 1px solid black;
}

.footer-menu ul li a:nth-child(2) {
    padding-top: 20px;
}

.footer-menu ul li a:hover {
    color: var(--bg);
}

.footer-item {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
}


.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.f-logo {
    height: 50px;
    width: 50px;
}

.s-logo {
    height: 30px;
    width: 30px;
    gap: 20px;
    transition: .5s;
}

.copyright {
    text-align: center;
    font-size: .7rem;
    font-weight: 900;
}

a .s-logo:hover {
    transform: scale(1.2);
}